{% extends 'base.html' %}

{% block title %}Article Detail{% endblock %}

{% load static %}
{% block content %}
    <h2>Blog</h2>
    <hr>
    <h3>{{ article.title }}</h3>
    <img src="{{ article.header_image.url }}"
        alt="{{ article.title }}"
        width="100%"
        height="200"> <br>
   
    <p>     
        Author: {{ article.author }} <br>
        Category: {{ article.category }} <br>
        Created On: {{ article.created_on }} <br>
        Updated On: {{ article.updated_on }} <br>
        <br>    
        {{ article.entry }}
    </p>

    {% if article.author.user == request.user %}
      <a href="{% url 'blog:article_update' article.id %}">Edit Article</a>
    {% endif %}

    <br>

    <h3>Gallery</h3>
    {% if article.author.user == request.user %}
    <a href="{% url 'blog:article_addimage' article.id %}">
        Add picture <br>
    </a>
    {% endif %}


    {% for image in article.blog_images.all %}
        <img src="{{ image.image.url }}" 
        alt="{{ image.description }}"
        width="200"
        height="200">
        <br>
    {% endfor %}

    <br>
    
    <h3>Other articles by {{ article.author }}</h3>
</h4>
    {% for other_article in article.author.blog_articles.all %}
        {% if other_article != article %}
            <ul>
                <a href="{{ other_article.get_absolute_url }}">
                    {{ other_article }}
                </a>
            </ul>
        {% endif %}
    {% endfor %}

    <h3>Comments</h3>
</h4>
    
    {% if request.user.is_authenticated %}
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    {% for comment in article.blog_comments.all|slice:"::-1" %}
        <ul>
            {{ comment.author }} | {{ comment }}
        </ul>
    {% endfor %}
<br>	
    <a href="/blog/articles">
        Go back to articles list
    </a>
{% endblock %}