{% extends 'base.html' %}

{% block title %}Article Detail{% endblock %}

{% load static %}
{% block content %}
    <h2>Blog</h2>
    <hr>
    
    <img src="{{ article.header_image.url }}" alt="{{ article.title }}">
    <h3>{{ article.title }}</h3>
    by {{ article.author }} <br>

    <br>
    <p>     
        Category: {{ article.category }} <br>
        Created On: {{ article.created_on }} <br>
        Updated On: {{ article.updated_on }} <br>
        <br>    
        {{ article.entry }}
    </p>

    {% if article.author.user == request.user %}
      <a href="{% url 'blog:article_update' article.id %}">Edit Article</a>
    {% endif %}

    <br>
    <br>

    {% if article.author.user == request.user %}
    <a href="{% url 'blog:article_addimage' article.id %}">
        Add picture
    </a>
    {% endif %}


    {% for image in article.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}

    <br>
    
    Other articles by {{ article.author }}
</h4>
    {% for other_article in article.author.articles.all %}
        {% if other_article != article %}
            <ul>
                <a href="{{ other_article.get_absolute_url }}">
                    {{ other_article }}
                </a>
            </ul>
        {% endif %}
    {% endfor %}

    Comments
</h4>
    
    {% if request.user.is_authenticated %}
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    {% for comment in article.comments.all %}
        <ul>
            {{ comment.author }} | {{ comment }}
        </ul>
    {% endfor %}
<br>	
    <a href="/blog/articles">
        Go back to articles list
    </a>
{% endblock %}