{% extends 'base.html' %}

{% block title %}
    Wiki
{% endblock %}

{% block content %}
    <h2>
        Wiki
    </h2>
    <hr>
    <h3>
        {{ article.name }}
    </h3>
    {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">
                Submit
            </button>
        </form>
    {% else %}
        <p>
            You need to be logged in to be able to edit articles.
            <a href="{% url 'login' %}">Log in here!</a>
        </p>
    {% endif %}

    <a href="/wiki/articles">
        Back to articles.
    </a>
{% endblock %}