{% extends 'base.html' %}

{% block title %}
    Wiki
{% endblock %}

{% block content %}
    <h2>
        Online Wiki
    </h2>
    <hr>
    <h3>
        {{ article.title }}
    </h3>
    {% if article.header_image.url != null %}
        <img src="{{ article.header_image.url}}"/><br>
    {% endif %}
    <p>
        {% if request.user.is_authenticated %}
            {% if article.author.user == request.user %}
                <a href="{% url 'wiki:article_update' article.id %}">
                    Edit article
                </a>
            {% endif %}
        {% endif %}
        <br>
        
        Author: {{ article.author }}
        Category: {{ article.category }} <br>
        Created On: {{ article.created_on }} <br>
        Last updated On: {{ article.updated_on }} <br><br>

        {{ article.entry }}
    </p>

    <h3>
        Gallery
    </h3>
    {% if article.author.user == request.user %}
        <a href="{% url 'wiki:article_addimage' article.id %}">
            Add Picture <br>
        </a>
    {% endif %}

    {% for image in article.wiki_images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
        <br>
    {% endfor %}
    <br>    

    {% with articles=article.category.wiki_articles %}
        {% if articles.all|length > 1 %}
            <h4>
                Read more from {{ article.category }}
            </h4>
                {% for other_article in articles.all %}
                    {% if other_article != article %}
                        <ul>
                            <a href="{{ other_article.get_absolute_url }}">
                                {{ other_article }}
                            </a>
                        </ul>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endwith %}

    <h4>
        Comment Section:
    </h4>
        {% if request.user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">
                    Submit
                </button>
            </form>
        {% endif %}

        {% for comment in article.wiki_comments.all|slice:"::-1" %}
            <ul>
                {{ comment.author }} | {{ comment.entry }}
            </ul>
        {% endfor %}

    <a href="/wiki/articles">
        Browse other articles.
    </a>
{% endblock %}