{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h2>
	Commissions
</h2>
<hr>
{% regroup object_list by get_status_display as commissions_list %}

{% comment %}
Regroup from 
https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#regroup
https://www.w3schools.com/django/ref_tags_regroup.php
{% endcomment %}

<ul>
	{% for commission in commissions_list %}
		<li><b>{{ commission.grouper }}</b>
			<ul>
				{% for status in commission.list reversed %}
					{# Reversed since commissions already ordered ascending. Looking for descending #}
					<li>
					<a href="{{ status.get_absolute_url }}">
						{{ status.title }}
					</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>

{% endblock %}