{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h2>
	Commissions
</h2>
<hr>
<h3>All Commissions</h3>
<ul>
	<li>
	<b>Open</b>
	{% for commissions in object_list reversed %}
		<ul>
			{% if commissions.status == "OPEN" %}
			<li>
				<a href="{{ commissions.get_absolute_url }}">
				{{ commissions.title }}
				</a>
			</li>
			{% endif %}
		</ul>
	{% endfor %}
	</li>

	<li>
	<b>Full</b>
	{% for commissions in object_list reversed %}
		<ul>
			{% if commissions.status == "FULL" %}
			<li>
				<a href="{{ commissions.get_absolute_url }}">
				{{ commissions.title }}
				</a>
			</li>
			{% endif %}
		</ul>
	{% endfor %}
	</li>

	<li>
	<b>Completed</b>
	{% for commissions in object_list reversed %}
		<ul>
			{% if commissions.status == "COMPLETE" %}
			<li>
				<a href="{{ commissions.get_absolute_url }}">
				{{ commissions.title }}
				</a>
			</li>
			{% endif %}
		</ul>
	{% endfor %}
	</li>

	<li>
	<b>Discontinued</b>
	{% for commissions in object_list reversed %}
		<ul>
			{% if commissions.status == "DISCONTINUED" %}
			<li>
				<a href="{{ commissions.get_absolute_url }}">
				{{ commissions.title }}
				</a>
			</li>
			{% endif %}
		</ul>
	{% endfor %}
	</li>
</ul>
{% endblock %}