{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h2>
	Commissions
</h2>
<hr>
<ul>
	{% for commissions in object_list %}
	<li>
		{% if commissions.status == "OPEN" %}
			<a href="{{ commissions.get_absolute_url }}">
			{{ commissions.title }}
			</a>
		{% elif commissions.status == "FULL" %}
			<a href="{{ commissions.get_absolute_url }}">
			{{ commissions.title }}
			</a>
		{% elif commissions.status == "COMPLETED" %}
			<a href="{{ commissions.get_absolute_url }}">
			{{ commissions.title }}
			</a>
		{% elif commissions.status == "DISCONTINUED" %}
			<a href="{{ commissions.get_absolute_url }}">
			{{ commissions.title }}
			</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}