{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h2>Commissions</h2>
<hr>
<h3>{{ object.title }}</h3>

<p>
    Author: {{ object.author }} <br>
    Status: {{ object.get_status_display }} <br>
    Needed Manpower: {{ object.required_people }} <br>
    Created on: {{ object.created_on }} <br>
    Updated on: {{ object.updated_on }} <br>
    <br>
    {{ object.description }}
</p>

<h3>Jobs</h3>
{% for job in object.job.all %}
    <ul>
        <li>{{ job.role }} <br>
            <ul>
                Total Manpower: {{ job.manpower_required }} <br>
                Open Manpower:
            </ul>
        </li>
    </ul>
{% endfor %}
<a href="/commissions/list">
    Go back to commissions list.
</a>
{% endblock %}