{% extends 'base.html' %}
{% load static %}

{% block title %} Commissions {% endblock %}

{% block content %}
<h2>Commissions</h2>
<hr>
<h3>{{ object.title }}</h3>

<p>
    {% if object.author == request.user.profile %}
        <a href="{% url 'commissions:commissions-update' pk=object.pk %}">
            Edit this commission
        </a>
        <br><br>
    {% endif %}

    Author: {{ object.author }} <br>
    Status: {{ object.get_status_display }} <br>
    Needed Manpower: {{ object.required_people }} <br>
    Created on: {{ object.created_on }} <br>
    Updated on: {{ object.updated_on }} <br>
    <br>
    {{ object.description }}
</p>

<h3>Jobs</h3>
{% for job in object.job.all %}
    <ul>
        <li>{{ job.role }} <br>
        <ul>
            Total Manpower: {{ job.manpower_required }} <br>
            Open Manpower: {{ job.get_open_slots_count }} <br>

            {% if request.user.is_authenticated %}
                {% if job.get_open_slots_count != 0 %}
                    <button type="button">
                {% else %}
                    <button type="button" disabled>
                {% endif %}
                        Apply to Job
                    </button>
            {% endif %}
        </ul>
        </li>
    </ul>
{% endfor %}
<a href="{% url 'commissions:commissions-list' %}">
    Go back to commissions list.
</a>
{% endblock %}