<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                Hobby Site
            {% endblock %}
        </title>
        
        {% block styles %}
            <header>
                <h1>
                    Group 4 Hobby Site
                </h1>
            </header>

            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">
                    Login
                </a>
            {% endif %}
            
        {% endblock %}
    </head>

    <body>
        {% block content %}
        <!-- Body Here  -->
        {% endblock %}
    </body>
</html>