{% extends 'merchstore/merchstore_tab.html' %}
{% load static %}

{% block title %} {{ object.name }} {% endblock %}

{% block tab %}
	{{ block.super }}
{% endblock %}

{% block content %}
<h3> {{ object.name }} </h3>

<p>
	Product Type: {{ object.product_type }} <br>
	Price: ₱{{ object.price }} <br>
    Owner: {{ object.owner }} <br>
    Stock: {{ object.stock }} <br>
    Status: {{ object.get_status_display }} <br>
    {% comment %}
        From https://docs.djangoproject.com/en/5.2/ref/models/instances/
    {% endcomment %}
    <br>
	{{ object.description }}
    <br>
</p>

{% if object.owner != request.user.profile %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ form.errors }}
        {% if object.stock > 0 %}
            <button type="submit">
                Buy this product!
            </button>
        {% else %}
            <button type="submit" disabled>
                Sold out!
            </button>
        {% endif %}
    </form>
{% else %}
    <p>
        <a href="/merchstore/item/{{ object.pk }}/edit">
            Edit this product.
        </a>
    </p>
{% endif %}


<br>
<a href="/merchstore/items"> Go back to product list. </a>
{% endblock %}
